body {
    background-color: lightgray;
}

h1 {
    color: darkslategray;
    text-align: center;
}

h2 {
    color:darkslategray;
    text-align:center;
}

p ol ul {
    color:darkslateblue;
    font-family: verdana;
    font-size: 16px;
}