.mainframe {
    box-sizing:border-box;
    width: 800px;
    margin: 0 auto;
    padding: 1px;
}

body {
    background-color: lightgray;
}

h1 {
    color: darkslategray;
    font-family: fantasy;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: darkslategray;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p ol ul {
    color: darkslateblue;
    font-family: verdana;
    font-size: 16px;
}

/* Change the link color to #111 (black) on hover */
#bar {
    position: fixed;
    top: 0;
    width:800px;
    background-color:#333;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#bar li a:hover {
    background-color: lightgray;
}

#bar li {
    background-color: #333;
    float: right;
}

#bar li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#bar li:active{
    background-color:lightslategray;
}