* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: darkgreen;     
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background-color: rgb(0, 53, 0);
    color: white;
    padding: 10px 0;
}
.fixed-header{
    top: 0;
    text-align: center;
}
.fixed-footer{
    bottom: 0;
    text-align: left;
}
.container{
    width: 90%;
    margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header h1{
    width: fit-content;
    margin: 0;
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.page {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(219, 255, 219);
    width: 80%;
}

.weatherForm {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
}

#cityResults, #forecastResults {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

#cityResults {
    padding-bottom: 20px;
}

#current {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border: 2px solid darkgreen;
    border-radius: 25px;
}

#city {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    flex-wrap: wrap;
    border: 2px solid darkgreen;
    border-radius: 25px;
}

#city h2, #moreInfo * {
    margin-top: 9px;
    margin-bottom: 9px;
}

#temp {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    max-height: 150px;
}

#temp img, #temp h2 {
    width: 49%;
    font-size: 4vw;
}

#hourly {
    width: 90%;
    border: 2px dashed rgb(0, 43, 0);
}

img {
    max-width: fit-content*2;
    max-height: fit-content*2;
    justify-self: center;
    align-self: center;
}

#weatherResults img {
    width: 15vw;
    height: 15vw;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .body {
        width: 100%;
    }
    .page {
        width: 100%;
    }
    .weatherForm {
        font-size: 8vw;
        width: 90%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    #cityResults {
        width: 90%;
    }

    #weatherResults, #cityInfo {
        width: 100%;
    }
    #forecastResults {
        width: 90%;
    }
    #hourly {
        font-size: 2.5vw;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    #hourly h2 {
        flex: 2;
    }
    #hourly h1 {
        flex: 1;
    }
    #hourly img {
        flex: 1;
    }
    .fixed-header h1 {
        font-size: 6vw;
    }
    #temp h2 {
        font-size: 7vw;
    }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .body {
        width: 100%;
    }
    .page {
        width: 100%;
    }
    .weatherForm {
        font-size: 3vw;
        width: 80%;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    #weatherResults, #cityInfo {
        width: 100%;
    }
    #forecastResults {
        width: 80%;
        align-self: center;
    }
    #weatherResults strong {
        font-size: 7vw;
    }
    #hourly {
        font-size: 2.5vw;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }
    #hourly h2 {
        flex: 2;
    }
    #hourly h1 {
        flex: 1;
    }
    #hourly img {
        flex: 1;
    }
    #temp h2 {
        font-size: 6vw;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .body {
        width: 100%;
    }
    .page {
        width: 80%;
    }
    .weatherForm {
        justify-self: right;
        justify-content: center;
        align-content: space-between;
    }
    #cityResults {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: center;
        width: 100%;
    }
    #weatherResults {
        width: 49.5%;
        height: 95%;
    }
    #cityInfo {
        width: 49.5%;
        height: 95%;
    }
    #forecastResults {
        width: 100%;
        flex-direction: row;
    }
    #weatherResults strong {
        font-size: 5vw;
    }
    #hourly {
        font-size: 1vw;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        width: 19%;
    }
}
