* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: darkblue;
}

.home {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 3px solid darkblue;
    background-color: rgb(153, 201, 255);
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    border: 5px solid darkblue;
}

.top .heading, .top .intro, .top .image  {
    width: 45%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: space-between;
}

.top .about {
    width: 45%;
    height: 250px;
    display: block;
    text-align: center;
}

.heading h1 {
    font-size: 80px;
}

.heading h2 {
    font-size: 40px;
}

.image img {
    width: 90%;
    height: 90%;
    align-self: center;
}

.bottom {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.bottom .fun-fact, .bottom .button {
    width: 20%;
    height: 200px;
    border: 5px solid darkblue;
    color:black;
    text-align: center;
    background-color: rgb(0, 110, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home h1 {
    font-size: 4vw;
}

button a {
    color: black;
}

.profile-img {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 160px;
    float: left;
}

.donate {
    display: flex;
    position: relative;
    background-image: url("donate_1.jpg");
    background-color: #cccccc;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-self: center;
}

.donate_box {
    color:whitesmoke;
    border: 3px solid white;
    position: absolute;
    align-self: center;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 175px;
}

.donate_box a {
    font-size: 3vw;
    color: white;
}

.donate_box p {
    font-size: 1.5vw;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .top .heading, .top .intro, .top .image, .top .about  {
        width: 90%;
        height: fit-content;
    }

    .heading h1 {
        font-size:8vw;
    }
    
    .heading h2 {
        font-size: 6vw;
    }

    .fun-fact h1 {
        font-size: 6vw;
    }
    
    .fun-fact h2 {
        font-size: 5vw;
    }

    .button h1 {
        font-size: 8vw;
    }

    .bottom .fun-fact, .bottom .button {
        width: 95%;
        height: fit-content;
    }
}
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .top .heading, .top .intro, .top .image, .top .about  {
        width: 90%;
        height: fit-content;
    }

    .heading h1 {
        font-size:8vw;
    }
    
    .heading h2 {
        font-size: 6vw;
    }

    .fun-fact h1 {
        font-size: 3.5vw;
    }
    
    .fun-fact h2 {
        font-size: 2.5vw;
    }

    .button h1 {
        font-size: 5vw;
    }

    .bottom .fun-fact, .bottom .button {
        width: 45%;
    }
  }
  
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {

    .heading h1 {
        font-size: 75px;
    }
    
    .heading h2 {
        font-size: 40px;
    }

    .fun-fact h1 {
        font-size: 1.7vw;
    }
    
    .fun-fact h2 {
        font-size: 1.5vw;
    }

    .button h1 {
        font-size: 3vw;
    }
  }
