body {
  width: 80%;
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 16px;
  background: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: 'IBM Plex Serif', serif;
}

.pure-button-primary {
  background-color: rgb(37, 77, 117);
}

/* Form */
input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 10px;
}

input[type=text] {
  font-size: 1em;
}

input[type=checkbox] {
  margin-left: 5px;
}

input[type=range] {
  margin-left: 10px;
}

button {
  font-size: 1em;
}

li {
  margin-top: 10px;
}

.sidebar {
  margin: 20px;
  max-width: 300px;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid darkslategray;
  font-size: 1em;
}

#infoSheet {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height:fit-content;
  border: 10px solid transparent;
  border-image: url(/images/ancient-scroll2.png) 30 stretch;
  background-color: rgb(250, 237, 214);
}

#infoSheet img {
  max-width: 100px;
  float: right;
}

#sheet h1 {
  text-align: center;
  text-decoration: underline;
}

.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  background-color: darkslategray;
  color: white;
  padding: 10px 0;
}
.fixed-header{
  top: 0;
  text-align: center;
}
.fixed-footer{
  bottom: 0;
  text-align: left;
}
.container{
  width: 90%;
  margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header h1{
  width: fit-content;
  margin: 0;
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
  font-size: 3vw;
}

@media only screen and (max-width: 450px) {
  body {
    padding-top: 110px;
    padding-bottom: 45px;
    width: 100%;
    flex-direction: column-reverse;
  }
  .sidebar {
    margin: 0;
    align-self: center;
    width: 100%;
  }

  .fixed-header h1 {
    font-size: 7vw;
  }

}

@media only screen and (min-width: 451) and (max-width: 960px) {
  .fixed-header h1 {
    font-size: 10vw;
  }
}